@{
  Layout = "Shared/_Layout.cshtml";
}


<div class="holder">
    <div class="stylists">
        @foreach(var stylist in Model){
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">perm_identity</i>@stylist.GetName()</div>
                    <div class="collapsible-body">
                        <ul>
                            @foreach(var client in stylist.GetClientList())
                            {
                                <li>@client.GetName()</li>
                            }
                        </ul>
                        <a href="/add-client/@stylist.GetId()" class="waves-effect waves-light btn">Add Client</a>
                    </div>
                </li>
            </ul>
        }
    </div>

    <div class="button-holder">
        <a href="add-stylist" class="btn waves-effect waves-light" type="submit">Add Stylist
            <i class="material-icons right">perm_identity</i>
        </a>
    </div>

</div>
